.navigation {
    background-color: #e0e0e0;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    margin-bottom: 5px;

    .nav-item {
        margin: 0 10px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        border-radius: 5px;


        &:hover {
            color: #1976d2;
        }
    }
}